body {
  font-family: "open sans";
  background: rgba(0,0,0,0.3);
  main {
    padding: 50px 0;
  }
}

//@import "firstSection";
@import "thesaSection";
@import "fourthSection";
@import "fifthSection";
@import "sixSection";
@import "nineSection";