section.second_section{
  margin-top: 120px;
  padding: 30px 0;
  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
  }
  .ball {
    text-align: center;
  }
  p {
    margin-top: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #4074F8;
  }
}