.form_section {
  background-color: #2F80ED;
  padding: 50px 0;
  .section_heading {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
  }
  .agreement_text {
    font-size: 12px;
    line-height: 22px;
    color: #fff;
  }
  label {
    font-weight: 500;
    color: #fff;
    font-size: 15px;
  }
  input[type="text"], input[type="email"], textarea {
    background: #2F80ED;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    color: #fff;
    font-size: 15px;
    &:active, &:focus {
      background: #2F80ED;
      color: #fff;
      font-size: 15px;
    }
    &::placeholder {
      color: #fff;
      font-size: 15px;
    }
  }
  input[type="file"] {
    color: #fff;
  }
  a {
    color: #fff;
    text-align: right;
    float: right;
  }
  button{
    margin-top: 20px;
  }
  .text-center {
    font-size: 24px;
    color: #fff;
  }
}