
.secondSection {
  padding: 20px 0 30px 0;
}
.topFilters, .sideFilters {
  .filterCondition {
    display: inline-block;
  }
}
.topFilters {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10px 0 20px 0;
}

.oneProduct {
  img {
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.slideDescription {
  border: 1px solid black;
  height: 100%;
  width: 100%;

}