
.secondSection {
  padding: 20px 0 30px 0;
}
.modelFilters, .typeFilters {
  .filterCondition {
    display: inline-block;
  }
}

.oneProduct {
  img {
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.slideDescription {
  border: 1px solid black;
  height: 100%;
  width: 100%;

}