section.thesis_section {
  position: relative;
  height: 680px;
  .bg{
    position: absolute;
    height:100%;
    width: 100%;
    left:0;
    top:0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    &:before {
      background-color: rgba(0, 0, 0, 0.4);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
  .container {
    height: 100%;
    .row {
      height:100%;
      align-items: center;
    }
  }
  .thesis {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    line-height: 1.1em;
    font-size: 31px;
    letter-spacing: 3px;
  }
}