.bottom-align {
  align-items: flex-end;
  padding-bottom: 20px;
  .item-wrapper {
    cursor: pointer;
    transition: all .250s ease-in-out;
    .itemText {
      text-align: center;
    }
    .previewImg {
      width: 100%;
      transition: all .250s ease-in-out;
    }
    &:hover {
      .previewImg {
        transform-origin: center;
        transform: scale(1.1);
      }
    }
  }

}
.collapse-img {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}