#footer {
padding: 100px 0;
    .contact-info {
        .title {
            display: block;
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 130%;
            color: #2F80ED;
        }
        .text {
            font-weight: bold;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: 0.03em;
            color: #333333;
            a {
                color: #333333;
                text-decoration: none;
            }
        }
    }
}