section.first_section {
  min-height: 680px;
  //background-color: rgba(0,0,0,0.8);
  .slick-active {
    z-index: 2;
  }
  .slide {
    position: relative;
    .sliderBgImg {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .textBlock {
      min-height: 680px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
      //background-color: rgba(0, 0, 0, 0.5);
      p {
        width: 100%;
        margin: 5px auto 10px auto;
        font-size: 20px;
        line-height: 20px;
        font-weight: 300;
        text-align: left;
        &.textTop {
          z-index: 9;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0.05em;
          text-transform: capitalize;
          color: #2F80ED;
        }
        &.textBig {
          z-index: 12;
          font-style: normal;
          font-weight: 500;
          font-size: 48px;
          line-height: 56px;
          color: #333333;
          @media all and (max-width: 768px) {
            font-size: 30px;
            line-height: 1.2;
          }
        }
        &.textBottom {
          z-index: 13;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 191.02%;
          letter-spacing: 0.03em;
          color: #333333;
          @media all and (max-width: 768px) {
            font-size: 18px;
            line-height: 20px;
          }
        }
      }
      .fillButton {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 13px;
        background-color: #2F80ED;
        box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
        border-radius: 2px;
        text-decoration: none;
        text-align: center;
        opacity: 1;
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
        color: #FFFFFF;
        text-transform: uppercase;
        text-decoration: none;
      }
      .borderedButton {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        padding: 11px;
        border: 2px solid #2F80ED;
        box-sizing: border-box;
        box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
        border-radius: 2px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.03em;
        color: #2F80ED;
        text-transform: uppercase;
        text-decoration: none;

      }
    }
    img {
      margin: 0 auto;
    }
  }
  @media all and (max-width: 768px) {
    min-height: 400px;
    .slide {
      .textBlock {
        min-height: 400px;
      }
    }
  }
  .custom-dots {
    &.slick-dots {
      bottom: 10px;
      li {
        margin: 0 3px;
        width: 8px;

        button {
          padding: 4px;
          width: 8px;
          &:before {
            content: '';
            color: #D1D6E3;
            background-color: #D1D6E3;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            opacity: 1;
          }
        }
        &.slick-active {
          button {
            &:before {
              color: #5283FF;
              background-color: #5283FF;
            }
          }
        }
      }
    }
  }
}